.dropdown {
  width: 200px;
  margin-bottom: 15px;

  .btn-dropdown {
    padding: 0 !important;
    width: 100%;

    > span {
      padding: 5px;
      float: left;
    }

    .icon-wrapper {
      border-left: 1px solid darken($gray, 10%);
      margin-left: 4px;
      display: inline-block;
      float: right;
    }
  }

  .dropdown-menu {
    width: 100%;
    background-color: darken($gray, 10%);
  }
}