.divider {
  background-color: $gray;
  height: 3px;
  width: 100%;
  margin: 10px 0;
}

.box {
  width: 90px;
  height: 90px;
  background-color: $gray;
  border: 1px solid darken($gray, 10%);
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;

  &-body {
    > h3 {
      margin-bottom: 0;
      font-weight: 900;
    }
    > p {
      margin-bottom: 0;
    }
  }
}

.font-medium {
  font-size: 14px;
}